@model TP2_ASP.NET_Final_.ViewModel.Multipledata

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/PageDisposition.cshtml";
}
<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <!-- [ page content ] start -->
                <div class="row">


                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h3>Users stats</h3>
                                <div class="card-header-right">
                                    <ul class="list-unstyled card-option">
                                        <li class="first-opt"><i class="feather icon-chevron-left open-card-option"></i></li>
                                        <li><i class="feather icon-maximize full-card"></i></li>
                                        <li><i class="feather icon-minus minimize-card"></i></li>
                                        <li><i class="feather icon-refresh-cw reload-card"></i></li>
                                        <li><i class="feather icon-trash close-card"></i></li>
                                        <li><i class="feather icon-chevron-left open-card-option"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="bg-c-blue" style="height:50px">
                                    <div class="row align-items-center" style="margin-top:12px">
                                        <div class="col-9 text-center">
                                            <p class="text-white m-b-0">TOTAL VISITS</p>
                                        </div>
                                        <div class="col-3 text-center" style="margin-top:12px">
                                            <label class="text-white">8527</label>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="bg-c-green" style="height:50px">
                                    <div class="row align-items-center">
                                        <div class="col-9 text-center" style="margin-top:12px">
                                            <p class="text-white m-b-0">TOTAL REGISTRATIONS</p>
                                        </div>
                                        <div class="col-3 text-center" style="margin-top:12px">
                                            <label class="text-white">8527</label>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="bg-c-orenge" style="height:50px">
                                    <div class="row align-items-center">
                                        <div class="col-9 text-center" style="margin-top:12px">
                                            <p class="text-white m-b-0">TOTAL VISITORS</p>
                                        </div>
                                        <div class="col-3 text-center" style="margin-top:12px">
                                            <label class="text-white">8527</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="card table-card review-card">
                            <div class="card-header">
                                <div class="card-header-right">
                                    <ul class="list-unstyled card-option">
                                        <li class="first-opt"><i class="feather icon-chevron-left open-card-option"></i></li>
                                        <li><i class="feather icon-maximize full-card"></i></li>
                                        <li><i class="feather icon-minus minimize-card"></i></li>
                                        <li><i class="feather icon-refresh-cw reload-card"></i></li>
                                        <li><i class="feather icon-trash close-card"></i></li>
                                        <li><i class="feather icon-chevron-left open-card-option"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="review-block">
                                    <div class="row">
                                        <div class="col-sm-auto p-r-0">
                                            <img src="~/Content/images/avatar-3.jpg" alt="user image" class="img-radius profile-img cust-img m-b-15">
                                        </div>
                                        <div class="col">
                                            <h6 class="m-b-15">John Deo </h6>
                                            <p class="m-t-15 m-b-15 text-muted">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                                galley of type and scrambled it to make a type specimen book.
                                            </p>
                                            <span class="float-right f-13 text-muted">10/01/1998</span>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-auto p-r-0">
                                            <img src="~/Content/images/avatar-3.jpg" alt="user image" class="img-radius profile-img cust-img m-b-15">
                                        </div>
                                        <div class="col">
                                            <h6 class="m-b-15">John Deo </h6>
                                            <p class="m-t-15 m-b-15 text-muted">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                                galley of type and scrambled it to make a type specimen book.
                                            </p>
                                            <span class="float-right f-13 text-muted">10/01/1998</span>

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card" style="width:320px">
                            <div class="card-header" style="background:#07074e">
                                <div class="row align-items-center">

                                    <div class="col-8 text-center"><a href="#"><i class="fab fa-facebook "></i></a></div>
                                    <div class="col-12 text-center" style="margin-top:-24px"><h6 class="text-white m-b-0">Facebook</h6></div>

                                </div>
                            </div>
                            <div class="card-block">
                                <div style="height:55px">
                                    <div class="row align-items-center">
                                        <div class="col-12 text-center" style="margin-top:-2%">
                                            <p>
                                                <h4 class="text-blue m-b-0" style="color:darkblue">21836</h4>
                                                <h6 class="text-darkblue m-b-0">LIKES</h6>
                                            </p>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6" style="margin-left:-3%">
                            <div class="card" style="width:320px">
                                <div class="card-header" style="background:#77aafff0">
                                    <div class="row align-items-center">

                                        <div class="col-9 text-center"><a href="#"><i class="fab fa-twitter "></i></a></div>
                                        <div class="col-12 text-center" style="margin-top:-24px"><h6 class="text-white m-b-0">Twitter</h6></div>

                                    </div>
                                </div>
                                <div class="card-block">
                                    <div style="height:55px">
                                        <div class="row align-items-center">
                                            <div class="col-12 text-center" style="margin-top:-2%">
                                                <p>
                                                    <h4 class="text-blue m-b-0" style="color:#77aafff0">8613</h4>
                                                    <h6 class="text-darkblue m-b-0">FOLLOWERS</h6>
                                                </p>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-8 col-md-12">
                        <div class="card table-card review-card">
                            <div class="card-header borderless ">
                                <h5>Customer Reviews</h5>
                                <div class="card-header-right">
                                    <ul class="list-unstyled card-option">
                                        <li class="first-opt"><i class="feather icon-chevron-left open-card-option"></i></li>
                                        <li><i class="feather icon-maximize full-card"></i></li>
                                        <li><i class="feather icon-minus minimize-card"></i></li>
                                        <li><i class="feather icon-refresh-cw reload-card"></i></li>
                                        <li><i class="feather icon-trash close-card"></i></li>
                                        <li><i class="feather icon-chevron-left open-card-option"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="review-block">
                                    <div class="row">
                                        @{WebGrid obj = new WebGrid(source: Model.Msgsss, canPage: true, rowsPerPage:5); }
                                        @obj.GetHtml();
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-auto p-r-0">
                                            <img src="../files/assets/images/avatar-4.jpg" alt="user image" class="img-radius profile-img cust-img m-b-15">
                                        </div>
                                        <div class="col">
                                            <h6 class="m-b-15">Allina D’croze <span class="float-right f-13 text-muted"> a week ago</span></h6>
                                            <a href="#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                                            <a href="#!"><i class="feather icon-star f-18 text-default"></i></a>
                                            <a href="#!"><i class="feather icon-star f-18 text-default"></i></a>
                                            <a href="#!"><i class="feather icon-star f-18 text-default"></i></a>
                                            <a href="#!"><i class="feather icon-star f-18 text-default"></i></a>
                                            <p class="m-t-15 m-b-15 text-muted">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                                galley of type and scrambled it to make a type specimen book.
                                            </p>
                                            <a href="#!" class="m-r-30"><i class="feather icon-thumbs-up m-r-15"></i>Helpful?</a>
                                            <a href="#!"><i class="feather icon-heart-on text-c-red m-r-15"></i></a>
                                            <a href="#!"><i class="feather icon-edit"></i></a>
                                            <blockquote class="blockquote m-t-15 m-b-0">
                                                <h6>Allina D’croze</h6>
                                                <p class="m-b-0 text-muted">Lorem Ipsum is simply dummy text of the industry.</p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right  m-r-20">
                                    <a href="#!" class="b-b-primary text-primary">Afficher </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-7">
                        <div class="card">
                            <div class="card-header">
                                <h3>Users stats</h3>
                                <div class="card-header-right">
                                    <ul class="list-unstyled card-option">
                                        <li class="first-opt"><i class="feather icon-chevron-left open-card-option"></i></li>
                                        <li><i class="feather icon-maximize full-card"></i></li>
                                        <li><i class="feather icon-minus minimize-card"></i></li>
                                        <li><i class="feather icon-refresh-cw reload-card"></i></li>
                                        <li><i class="feather icon-trash close-card"></i></li>
                                        <li><i class="feather icon-chevron-left open-card-option"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="bg-c-blue" style="height:50px">
                                    <div class="row align-items-center" style="margin-top:12px">
                                        <div class="col-9 text-center">
                                            <p class="text-white m-b-0">TOTAL VISITS</p>
                                        </div>
                                        <div class="col-3 text-center" style="margin-top:12px">
                                            <label class="text-white">8527</label>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="bg-c-green" style="height:50px">
                                    <div class="row align-items-center">
                                        <div class="col-9 text-center" style="margin-top:12px">
                                            <p class="text-white m-b-0">TOTAL REGISTRATIONS</p>
                                        </div>
                                        <div class="col-3 text-center" style="margin-top:12px">
                                            <label class="text-white">8527</label>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="bg-c-orenge" style="height:50px">
                                    <div class="row align-items-center">
                                        <div class="col-9 text-center" style="margin-top:12px">
                                            <p class="text-white m-b-0">TOTAL VISITORS</p>
                                        </div>
                                        <div class="col-3 text-center" style="margin-top:12px">
                                            <label class="text-white">8527</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/all.js"></script>





