
@{
    ViewBag.Title = "David Garrett";
    Layout = "~/Views/Shared/PageDisposition.cshtml";
}

<div class="row">
    <div class="col-lg-7 col-md-12">

        <div class="card">
            <div class="card-header borderless">
                <h5>David Garrett</h5>
            </div>

            <div class="card-block">
                <p>
                    David Garrett - a record-breaking German pop and crossover
                    violinist and recording artist who received his first Stradivarius
                    violin at the age of 11, courtesy of German president Richard von
                    Weizsäcker, and worked as a model while studying at the
                    Juilliard - born on Thursday September 4th 1980, in Aachen,
                    Germany.

                    David Garrett has powerful personality, and possesses great potential for
                    success, but this power is delicate and conditioned by a strong commitment 
                    of his to his ideals and vision, which must be used to inspire others to join
                    him in his dream. He must learn to effectively bring together the necessary 
                    elements - people, ideas and resources - to realize his goals. This undertaking
                    can be quite complex and multi-layered, so Garrett must also learn to surrender
                    to the larger cause that he serves, and to understand that the final result may be
                    quite different from his original vision. But with such faith and commitment,
                    David will make an enduring impact on the world.
                    is good at business and politics. He naturally understands large institutions
                    , and has the ability to think and act on an international scale. He has developed
                    the talent to deal effectively with a great variety of people, to understand and
                    consequently to unite many differing people toward a single goal. As the visionary
                    with both his feet on the ground, David Garrett is gifted with uncommonly sound
                    common sense. He can see the beauty and potential in a given idea, but also the
                    practical methods that will bring it to fruition. He also understands intuitively
                    the limitations of ideas - what will work and what will not.
                </p>
            </div>
        </div>
        <div class="col-lg-5 col-md-12">
            <div class="card">

                <img src="~/Content/images/David.jpg" />

            </div>
        </div>
    </div>
</div>





